
@media only screen
and (min-width : 950px)
and (max-width : 1920px){
    .mainWrapper{
        display:grid;
        grid-template-columns: 1fr 2fr;
        margin-top: 10px;

    }
}

@media only screen
and (min-width : 0px)
and (max-width : 950px){
    .mainWrapper{
        display:grid;
        grid-template-rows: auto auto;
        margin-top: 10px;

    }
}
@media only screen
and (min-width : 650px)
and (max-width : 950px){
    .mainWrapper{
        display:grid;
        grid-template-rows: auto auto;
        margin-top: 10px;

    }
}




