.header {
    background-color: deepskyblue;
    margin-top: 0;
    margin-left: 0;
    width: 100%;
    height: 100px;
    position:relative;
    flex-direction: row;
}

.logo {
    position:absolute;
    left:0;
    top:0;
}

.logout {
    position:absolute;
    right:0;
    top:0;
}

.aboutInfo {
    width: 40%;
    position:absolute;
    left:40%;
}
